.wrapper {
    position: relative;

    &::before,
    &::after  {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 100;
      background: $gray1;
      animation: first-animation-before 0.5s forwards 2s;
      content: '';
    }

    &::after {
        background: $primary;
        height: 0%;
        animation: first-animation-after 0.5s forwards 1.5s, first-animation-before 0.5s forwards 2s;
    }
}


.main {
    position: relative;
}

.section {
    display: flex;
    min-height: 100vh;
    padding: 50px 0;
    border-bottom: 1px solid $gray3;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    &_title {
        margin-bottom: 20px;
        font-size: 60px;
        font-family: 'Roboto', 'Inter', sans-serif;
        font-weight: bold;

        &_rotate {
            word-break: break-all;

            .wrap {
                border-right: 0.08em solid #000; 
            }
        } // .section_rotate
    } // .section_title

    &_sub_title {
        margin-bottom: 40px;
        font-size: 28px;
    } // .section_sub_title
}

.order {
    $order_info: (1, 2, 3);

    @mixin order($num) {
        &0#{$num} {
        order: $num;
        }
    }

    @each $number in $order_info {
        @include order($number);
    }
}


#goTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: -1;
    border: 1px solid $gray1;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.2s;
}

.dot {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    border-radius: 50%;
    background-color: $gray5;
    transition: background .3s ease-out;
    cursor: pointer;

    &.active {
        background-color: $primary;
    }

    &_list {
        position: fixed;
        right: 3vw;
        top: 40%;
        z-index: 50;
    }
}

.footer {
    margin-left: 40%;
    padding-right: 150px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: $gray3;
}