$primary: rgb(179, 72, 49);
$secondary: #B70012;
$teritiary: #d84c4c;
$quaternary: #f7c5b0;

$black: #000;
$gray1: #292929;
$gray2: #515151;
$gray3: #7F7F7F;
$gray4: #ABABAB;
$gray5: #D5D5D5;
$gray6: #E8E8E8;
$white: #fff;